.pick__car {
    width: 40rem;
    height: 20rem;
    margin-block-end: .5rem;
}
.pick__car img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    filter: brightness(1.1) contrast(1.2);
}
.description__price {
    text-align: center;
}
.description__price span {
    font-size: 1.5rem;
    font-weight: 600;
}
.description__table {
    display: flex;
    justify-content: center;
    gap: .7rem;
}
.description__table-col {
    text-align: center;
}
.description__table-col .top__table {
    background: var(--color-red);
    color: var(--color-white);
    padding: .2rem .5rem;
    margin-block-start: 1rem;
    margin-block-end: .5rem;
}

/*==========Media Query Mobile==========*/
@media (max-width: 768px) {
    .pick__car {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        margin-block-start: 1rem;
        margin-block-end: 1rem;
    }
    .description__price span {
        font-size: 1.2rem;
    }
    .description__table {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .3rem;
        width: var(--container-md);
        margin: 0 auto;
    }

}