.box__cars {
    margin-block-end: 5rem;
}
.pick__car {
    position: relative;
    width: 40rem;
    height: 20rem;
    margin-block-end: .5rem;
}
.pick__car img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    filter: brightness(1.1) contrast(1.2);
}
.description__price {
    text-align: center;
    margin-block-end: 0;
}
.description__price span {
    font-size: 1.5rem;
    font-weight: 400;
}
.description__table {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.description__table-col {
    text-align: center;
}
.description__table-col .top__table {
    background: var(--color-primary);
    padding: .2rem .5rem;
    margin-block-start: 1rem;
    margin-block-end: .5rem;
}
