.faq {
    background-image: url('../../assets/faq.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: -30% 80%;
    filter: contrast(1.5);
    padding: 10rem 0 22rem;
}
.faq__content {
    display: flex;
    flex-direction: column;
}
.faq__content-title {
    text-align: center;
    margin-block-start: -12rem;
}
.faq__content-title h2 {
    color: var(--color-red);
    font-weight: 200;
}
.all__questions-content {
    position: fixed;
    top: 7rem;
    left: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.questions__box {
    display: flex;
    flex-direction: column;
    background: var(--color-white);
    color: var(--color-bg);
    box-shadow: var(--shadow-1);
    width: 80%;
}
.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--shadow-1);
    padding: 1rem;
    cursor: pointer;
    transition: var(--transition);
}
.question p {
    font-weight: 600;
}
.question i {
    font-size: 1.5rem;
    transition: var(--transition);
}
.answer {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}
.active__answer {
    max-height: 20rem;
    padding: 2rem 1rem;
    transition: var(--transition);
}
.active__question {
    background-color: var(--color-red);
    color: var(--color-white);
    box-shadow: var(--shadow);
}
.active__question.question i {
    transform: rotate(180deg);
}


/*==========Media Query Tablet==========*/
@media (max-width: 1024px) {
    .faq {
        background-position: 25rem 3rem;
    }

}


/*==========Media Query Mobile==========*/
@media (max-width: 768px) {
    .faq {
        background-position: 5rem 6.5rem;
        padding: 7.5rem 0 27rem;
    }
    .all__questions-content {
        top: 4rem;
    }
    .questions__box {
        width: 90%;
    }

}
