.hero__content {
    margin-block-start: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__content-info h4 {
    color: var(--color-bg);
    font-weight: 300;
    letter-spacing: 1px;
}
.hero__content-info h2 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--color-bg);
    line-height: 1;
}
.hero__content-info h2 small {
    color: var(--color-red);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -2px;
    text-shadow: var(--shadow-1);
}
.hero__content-info p {
    margin-block-end: 2rem;
}
.hero__text-btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}
.hero__text-btns a {
    color: var(--color-white);
    padding: .5rem 1rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: .5rem;
    box-shadow: var(--shadow-1);
}
.text__btn {
    background: var(--color-bg);
    transition: var(--transition);
}
.text__btn:hover {
    box-shadow: var(--shadow);
    background: var(--color-red);
}
.text__btn-learn-more {
    background: var(--color-red);
    transition: var(--transition);
}
.text__btn-learn-more:hover {
    box-shadow: var(--shadow);
    background: var(--color-bg);
}
.hero__bg-car {
    width: 60%;
    filter: brightness(1.5) contrast(1.3);
    -webkit-box-reflect: below -170px linear-gradient(to bottom, hsla(0, 0%, 13%, 0), hsla(0, 0%, 13%, 0.178))
}
.scroll__up {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: var(--color-red);
    color: var(--color-white);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: var(--shadow);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}
.show__scroll {
    opacity: 1;
    visibility: visible;
}


/*==========Media Query Tablet==========*/
@media (max-width: 1024px) {
    .hero__content {
        margin-block-start: 8rem;
        flex-direction: column;
    }
    .hero__content-info h2 {
        font-size: 2rem;
    }
    .hero__bg-car {
        width: 100%;
    }

}


/*==========Media Query Mobile==========*/
@media (max-width: 768px) {
    .hero__content {
        margin-block-start: 7rem;
    }
    .hero__content-info h2 {
        font-size: 1.7rem;
    }
    .hero__bg-car {
        margin-block-start: 4rem;
        -webkit-box-reflect: below -40px linear-gradient(to bottom, hsla(0, 0%, 13%, 0), hsla(0, 0%, 13%, 0.178))
    }

}
