.carbox__section {
    position: relative;
    margin-block-start: 7rem;
}
.box__container {
    background: var(--color-gradient);
    border-radius: .5rem;
    box-shadow: var(--shadow);
}
.box__content {
    width: 100%;
}
.content {
    position: relative;
    height: auto;
    padding: 2rem 2rem 4rem;
    background: url('../../assets/carBox.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(1.5);
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.content h2 {
    text-align: center;
    font-weight: 400;
    margin-block-end: 2rem;
    text-shadow: var(--shadow);
}
.box__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
}
.box__form-car-type {
    display: flex;
    flex-direction: column;
}
.box__form-car-type label {
    font-weight: 400;
    padding: .5rem 0;
}
label strong {
    color: var(--color-dark);
    margin-right: .5rem;
    font-size: 1rem;
}
label i {
    color: var(--color-white);
    margin-right: .5rem;
}
.box__form-car-type select {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color-text);
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: var(--shadow-1);
}
.box__form-car-type select option {
    box-shadow: var(--shadow);
    font-weight: 400;
}
.box__form-car-time {
    display: flex;
    flex-direction: column;
}
.box__form-car-time label {
    padding: .5rem 0;
}
.box__form-car-time input {
    border-radius: .5rem;
    box-shadow: var(--shadow-1);
    color: var(--color-text);
    font-weight: 500;
}
::-webkit-datetime-edit {
    padding: .5rem;
}
::-webkit-calendar-picker-indicator {
    cursor: pointer;
    font-size: 1.4rem;
    margin-right: .5rem;
    box-shadow: var(--shadow);
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48%;
    margin-block-start: 2.6rem;
    border-radius: .5rem;
    background: var(--color-red);
    color: var(--color-white);
    box-shadow: var(--shadow-1);
    font-size: 1.2rem;
    cursor: pointer;
    transition: var(--transition);
}
button:hover {
    letter-spacing: 7px;
}
.error__message {
    background: var(--color-red);
    color: var(--color-white);
    font-weight: 500;
    padding: .5rem 1rem;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    margin-block-end: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--transition);
    display: none;
    
}
.error__message i, .booking__done i {
    cursor: pointer;
}
.booking__done {
    background: var(--color-green);
    color: var(--color-dark);
    font-weight: 500;
    padding: .5rem 1rem;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    margin-block-end: 1rem;
    display: flex;
    align-items: center;
    transition: var(--transition);
    justify-content: space-between;
    display: none;
}

/*==========Modal Overlay==========*/
.active-modal {
    opacity: 1 !important;
    display: flex !important;
}
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.342);
    opacity: 0;
    visibility: hidden;
    display: none;
    z-index: 1000;
}

/*==========Modal==========*/
.car__box-modal {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background: var(--color-bg);
    box-shadow: var(--shadow-1);
    border: 2px solid var(--color-white);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
    opacity: 0;
    display: none;
    transition: var(--transition);
    z-index: 1000;

}
.car__box-modal-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-white);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    box-shadow: var(--shadow-1);
    padding: 0 2rem;
    margin-block-end: 1rem;
}
.car__box-modal-title h2 {
    color: var(--color-dark);
    font-weight: 200;
    text-transform: uppercase;
}
.car__box-modal-title i {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: var(--color-red);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: var(--shadow-1);
    cursor: pointer;
    transition: var(--transition);
}
.car__box-modal-title i:hover {
    background: var(--color-dark);
}
.car__box-modal-messege {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    margin-block-end: 3rem;
    padding: 1rem 0;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    box-shadow: var(--shadow-1);
    background: var(--color-white);
    color: var(--color-dark);
}
.car__box-modal-messege h4 {
    color: var(--color-dark);
}
.car__box-modal-messege h4 i {
   margin-right: .3rem;
}
.car__box-modal-messege h4 strong {
    font-weight: 400;
}
.car__box-modal-messege p {
    color: var(--color-text);
}
.car__box-modal-car-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--color-white);
    color: var(--color-dark);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    padding: 2rem;
}
.modal__dates {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.car__box-modal-dates__info h5 {
    color: var(--color-dark);
    margin-block-end: .5rem;
}
.car__box-modal-dates__info span {
    display: flex;
    gap: 1rem;
}
.car__box-modal-dates__info span i {
    color: var(--color-red);
    font-size: 1.5rem;
}
.car__box-modal-dates__info span h6 {
    color: var(--color-dark);
    margin-block-end: .2rem;
}
.car__box-modal-dates__info span p {
    color: var(--color-text);
    margin-block-end: .2rem;
}
.car__box-modal-car-info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.car__box-modal-car-info h5 span {
    color: var(--color-dark);
}
.car__box-modal-car-info img {
    width: 100%;
    height: auto;
}
.car__box-modal-personal-info {
    display: flex;
    flex-direction: column;
    background: var(--color-white);
    color: var(--color-dark);
    margin-block-start: 1rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding: 2rem;
}
.car__box-modal-personal-info h4 {
    background: var(--color-red);
    border-radius: .5rem;
    padding: .5rem;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-block-end: 2rem;
    box-shadow: var(--shadow-1);
}
.form__info-2col, .form__info-1col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: .7rem 0;
}
.form__info-1col {
    grid-template-columns: 1fr !important;
}
span {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
span label {
    padding: 0 .5rem;
}
span label small {
    font-size: 1rem;
    color: var(--color-red);
}
span input {
    box-shadow: var(--shadow-1);
    color: var(--color-dark);
    font-weight: 600;
    padding: .5rem;
    border-radius: .5rem;
}
.modal__error-messege {
    color: var(--color-red);
}
.modal__form-check {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
    color: var(--color-text);
    margin-block-start: 2rem;
    margin-block-end: 3rem;
}
.modal__form-check input {
    box-shadow: none;
}
.input__time {
    text-align: center;
    width: 10rem;
    cursor: pointer;
}
.reserved__btn {
    padding: 1rem 0;
}
.reserved__btn button {
    padding: .5rem 1rem;
}
.reserved__btn button:hover {
    letter-spacing: 0;
    background: var(--color-primary);
}
.modal__dates {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }


/*==========Media Query Tablet==========*/
@media (max-width: 1024px) {
    .carbox__section {
        margin-block-start: 4rem;
    }
    .box__form {
        grid-template-columns: 1fr;
        grid-template-columns: auto;
    }

}


/*==========Media Query Mobile==========*/
@media (max-width: 768px) {
    .box__container {
        background: var(--color-transparent);
        box-shadow: none;
    }
    .box__content {
        width: 100%;
    }
    .content {
        padding: 0;
        background: none;
    }
    .content h2 {
        display: none;
    }
    .box__form {
        gap: .7rem;
    }
    button {
        height: 70%;
        margin-block-start: 2rem;
        font-size: 1.1rem;
    }

}