.banner__container {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 14rem;
    background: var(--color-bg);
    padding: 1.5rem 0;
    box-shadow: var(--shadow);
}
.banner__content-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner__content-text h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--color-white);
    letter-spacing: 1px;
}
.banner__content-text p {
    font-size: 1.4rem;
    color: var(--color-white);
    font-weight: 400;
    text-transform: uppercase;
}
.banner__content-text p small {
    color: var(--color-red);
    font-weight: 500;
    text-transform: lowercase;
}


/*==========Média Query Tablet==========*/
@media (max-width: 1024px) {
    .banner__content-text h2 {
        font-size: 2rem;
    }
    .banner__content-text p {
        font-size: 1.1rem;
    }

}

/*==========Média Query Mobile==========*/
@media (max-width: 768px) {
    .banner__content-text {
        width: var(--container-lg);
    }
    .banner__content-text h2 {
        font-size: 1.5rem;
    }

}